.hero-slider-wrapper {
	position: relative;
	width: 100%;
	height: 60vh;
	overflow: hidden;

	.swiper,
	.swiper-wrapper,
	.swiper-slide {
		height: 100%;
	}
}

.hero-slide {
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
	position: relative;
}

.hero-overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	.hero-logo {
		max-width: 180px;
		width: 100%;
	}
}
