.swiper-fade-left,
.swiper-fade-right {
	position: absolute;
	top: 0;
	width: 30px;
	height: 100%;
	pointer-events: none;
	z-index: 1;
}

.swiper-fade-left {
	left: 0;
	[data-bs-theme="light"] & {
		background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));

	}

	[data-bs-theme="dark"] & {
		background: linear-gradient(to right, #242424, rgba(255, 255, 255, 0));
	}
}

.swiper-fade-right {
	right: 0;
	[data-bs-theme="light"] & {
		background: linear-gradient(to left, #fff, rgba(255, 255, 255, 0));
	}

	[data-bs-theme="dark"] & {
		background: linear-gradient(to left, #242424, rgba(255, 255, 255, 0));
	}
}

.swiper-button-prev,
.swiper-button-next {
	transform: translateY(-100%);
	color: #1d1d1dad !important;
	opacity: 0;

	@media (min-width: 700px) {
		opacity: 1;
	}
}

.swiper-button-disabled {
	opacity: 0 !important;
}