
.logo-nav {
	height: 40px; 
	object-fit: contain;
}

.search-bar {
	border-color: white !important;

	&:focus {
		box-shadow: none;
		border-color: white !important;
		display: inline;
	}
}

.transparent-dropdown .dropdown-menu {
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.15);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	border-radius: 0.5rem;
}


