.navigation {
background: #020024;
background: linear-gradient(35deg,rgba(2, 0, 36, 1) 0%, rgba(21, 21, 110, 1) 95%, rgba(26, 19, 125, 1) 100%);

	color: rgba(255, 255, 255, 0.623);
	* {
		color: inherit;
	}
}

.navbar {
	.nav-link,
	.dropdown-toggle {
		&.active,
		&:hover,
		&:focus {
			color: #ffffff !important;
		}
	}
}

.dropdown-item.active {
	background-color: #d8d8d8da;
	color: white;
}

.logo-nav {
	height: 40px;
	object-fit: contain;
}

.search-bar {
	background-color: #fff !important;
	color: #000 !important;
	border: 1px solid #ccc !important;
	border: none;

	&::placeholder {

		opacity: 1;
	}

	&:focus {
		box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
		border-color: #cfd6df;
	}


	[data-bs-theme="dark"] & {
		background-color: #45405e !important;
		color: azure !important;
	}
}

.transparent-dropdown .dropdown-menu {
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.15);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	border-radius: 0.5rem;
}
