.navigation {
	background: #020024;
	background: linear-gradient(35deg,rgba(2, 0, 36, 0.849) 0%, rgba(21, 21, 110, 0.849) 95%, rgba(26, 19, 125, 0.747) 100%);

	// background: #aa4b6b;
	// background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
	// background: linear-gradient(to right, #3d3791, #6b6b83, #6b6b83, #6b6b83, #6b6b83, #6b6b83,#6b6b83, #aa4b6b); /* 

	color: rgba(255, 255, 255, 0.623);
	* {
		color: inherit;
	}
}

.navbar {
	.nav-link,
	.dropdown-toggle {
		&.active,
		&:hover,
		&:focus {
			color: #ffffff !important;
		}
	}
}

.dropdown-item.active {
	background-color: #d8d8d81f;
	color: white;
}

.logo-nav {
	height: 40px;
	object-fit: contain;
}

.transparent-dropdown .dropdown-menu {
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.041);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	border-radius: 0.5rem;

	[data-bs-theme="light"] & {
		background-color: rgba(0, 0, 0, 0.486);
		color: rgba(240, 255, 255, 0.877)
	}
	[data-bs-theme="dark"] & {
		background-color: rgba(0, 0, 0, 0.247);
		color: rgba(240, 255, 255, 0.877) 
	}
}
