.paginator-rail {
	position: absolute;
	top: -1rem;
	bottom: -1rem;
	width: 20rem;
	z-index: 10;
	pointer-events: none;

	&.paginator-left {
		left: -15rem;
	}

	&.paginator-right {
		right: -15rem;
	}

	@media (max-width: 768px) {
		display: none !important;
	}
}

.floating-paginator {
	position: sticky;
	top: calc(10vh - 10rem);
	height: 80rem;
	width: 100%;
	background-color: transparent;
	border: none;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.5rem;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	color: rgba(var(--bs-body-color), 0.2);
	pointer-events: auto;
	border-radius: 40% / 75%;

	&:hover {
		color: rgba(var(--bs-body-color-rgb), 0.2);

		[data-bs-theme="light"] & {
			background-color: rgba(255, 255, 255, 0.15);
			backdrop-filter: blur(2px);
		}

		[data-bs-theme="dark"] & {
			background-color: rgba(37, 37, 37, 0.15);
			backdrop-filter: blur(2px);
		}
	}
}
