.floating-paginator {
	position: absolute;
	top: -1rem;
	height: 105%;
	width: 20rem;
	z-index: 10;
	background-color: transparent;
	border: none;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.5rem;
	transition: all 0.2s ease-in-out;
	cursor: pointer;

	&:hover {
		color: #fff;

		[data-bs-theme="light"] & {
			background-color: rgba(255, 255, 255, 0.15);
			backdrop-filter: blur(2px);
		}

		[data-bs-theme="dark"] & {
			background-color: rgba(37, 37, 37, 0.15);
			backdrop-filter: blur(2px);
		}
	}

	&.paginator-left {
		left: -15rem;
	}

	&.paginator-right {
		right: -15rem;
	}

	@media (max-width: 768px) {
		display: none !important;
	}
}
