.recent-toggle-button {
	top: 100%;
	right: 3rem;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.recent-toggle-width {
	width: 100%;

	@media (min-width: 700px) {
		width: 35%;
	}
}

.recent-toggle-dropdown {

	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px); // för Safari
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

	[data-bs-theme="light"] & {
		background: rgba(255, 255, 255, 0.1);
	}

	[data-bs-theme="dark"] & {
	background:rgba(0, 0, 0, 0.1);
	}
}
