.recent-toggle-button {
	top: 0;
	right: 0.2rem;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;

	@media (min-width: 700px) {
		right: 2.5rem;
	}
	

	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	border: 1px solid rgba(255, 255, 255, 0.2);
	
	[data-bs-theme="light"] & {
		background: rgba(255, 255, 255, 0.1);
		box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
	}
	
	[data-bs-theme="dark"] & {
		background:rgba(145, 145, 145, 0.1);
		box-shadow: 0 4px 20px rgb(255, 254, 254);
		border: none;

	}
}

.recent-toggle-width {
	width: 100%;

	@media (min-width: 700px) {
		width: 35%;
	}
}

.recent-toggle-dropdown {

	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
	
	[data-bs-theme="light"] & {
		background: rgba(255, 255, 255, 0.1);
		border: 1px solid rgba(255, 255, 255, 0.5);
		background-color: rgba(255, 255, 255, 0.7);
		border-top: none;
	}
	
	[data-bs-theme="dark"] & {
		background:rgba(0, 0, 0, 0.1);
		border: 1px solid rgba(255, 255, 255, 0.1);
		border-top: none;
	}
}
