
// .timeframe-toggle-group {
// 	.toggle-button {
// 		position: relative;
// 		font-weight: 500;
// 		transition: color 0.3s ease;

// 		&.active {
// 			color: #000; // aktiv textfärg
// 		}

// 		// Bakgrundsanimering via motion.div sköts i komponenten
// 	}

// 	.bg-light {
// 		// Bakgrunden till det aktiva pillret
// 		background-color: rgba(255, 255, 255, 0.9);
// 		box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
// 	}
// }